html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: purple;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#outerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 11, 11);
    width: 900px;
    height: 775px;
    border-radius: 2%;
    border-width: 2px;
    border-style: solid;
    border-color:rgb(53, 18, 18)
}

#mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 500px;
    width: 500px;
    background-color: darkgrey;
    border-radius: 2%;
    border-width: 2px;
    border-style: solid;
    border-color:rgb(53, 18, 18)
}

#buttonContainer {
    display: flex;
    width: 800px;
    justify-content: space-between;
    margin-top: 30px;
    
}

p {
    margin: 20px;
    font-size: 40px;
    font-weight: 900;
    color: goldenrod;
    -webkit-text-stroke: 2px rgb(53, 18, 18);
    

}

.newBox {
    outline: solid;
    outline-color: rgba(78, 70, 70, 0.233);    
    background-color: white;
    
}





.roundBtns {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border-color: rgb(14, 1, 1);
    border-width: 3px;
    font-weight: 900;
    font-size: 32px;
}

#cntrBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

